body {
    background: cornflowerblue;
    background-image: url('./under-the-sea.jpg');
    background-size: auto;
    width: 100%;
    overflow-y: hidden;
  }

  .fish {
    position: relative;
    --x: 0px;
    --y: 0px;
    --rotateH: 0;
    --rotateV: 180px;
    transform: translateX(var(--x)) translateY(var(--y)) rotate(var(--rotateV)) rotateY(var(--rotateH));
    /* Rotate last otherwise strange behavior because of translating after.  */
    transition: transform 0.5s;
  }